#displayContainer{
    color: aliceblue;
    width: 50%;
    background-color: black;
}
#imageContainer {
  height: 75%;
}
#restaurantCover {
  width: 100%;
  height: 100%;
}

#businessDetails{
    display: flex;
    flex-wrap: nowrap;
    font-size: 2rem;
    padding-left: 3px;
}

#businessDetails span{
    font-size: 1.7vw;
    text-wrap: nowrap;
    font-weight: 500;
    margin-right: 1rem;
}

span a{
    font-size: 1.7vw;
    color: white;
    
}
/* user clamp function to control the font size  */
#leftLikeBtn{
    width: 50%;
    background-color: #1FDB00;
    color: white;
    border-radius: 0;
    border: 3px solid white;
    border-top: 5px solid white;
    border-right: 1.5px solid white;
    height: 20%;
    font-size: 5vw;
    cursor: pointer;
    text-wrap: nowrap;
}

#rightPassBtn{
    width: 50%;
    background-color: #FF0000;
    color: white;
    border-radius: 0;
    border: 3px solid white;
    border-top: 5px solid white;
    border-left: 1.5px solid white;
    height: 20%;
    font-size: 5vw;
    cursor: pointer;
}
