#interestedContainer {
  height: 100%;
  width: 25%;
  border-right: 3px solid black;
  overflow: auto;
}

#interestedContainer h2 {
  text-align: center;
  font-size: 2.5vw;
}

#interestLink {
  text-decoration: none;
  color: #0073dd;
}

#interestedContainer ol li a {
  font-size: 1.5vw;
}

#interestLink:hover{
  color: black;
  text-decoration: underline;
}

#interestedContainer ol li {
  font-weight: 500;
  font-size: 1.6vw;
  margin-top: 0px;
  text-wrap: balance;
}

#deleteIcon {
  padding-right: 10px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border: none;
}

#deleteAll {
  width: 100%;
}
